@charset "ISO-8859-1";
body,html{
	height:100%;
}
#background{
	background-image: url("architecture-1477101_1280.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position:center;
	height: 100%;
	position:relative
}
#background1{
	
}
#rental {
	padding-left: 2%;
	color: silver;
}

#header {
	display: flex;
	flex-basis: 50%;
	border-style: solid;
	background-color: teal;
}

#reg {
	padding-left: 70%;
}

#banner {
	padding-left: 27%;
	
}

}
#regbutton {
	display:flex;
	justify-content:center;
	background-color: green;
	color: white;
	padding: 15px 50px;
	font-size: 16px;
	margin: 8px 6px;
}

#Register {
	padding-left: 44%;
	padding-top: 10%;
	color: black;
}

#menu {
	padding-left: 40%;
	padding-top: 2%;
}

#secondregbutton {
	padding-left: 10%;
	padding-top: 3%;
}

#log {
	padding-left: 40%;
	padding-right:3%;
	padding-top: 3%;
	color: black;
}
#img{
	height: 30px;
	width: 20;
}
#logs{
	padding-left: 70%;
}

#logmenu {
	padding-left: 40%;
}
#sub{
	padding-top: 3%;
	padding-left: 10%;
}
.error{
	color:red;
}
